@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

body{
  background: #f78181;
  min-width: 900px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}


.main-panel{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 400px;
  height: 140px;
  background: #fff;
  border-left: 5px solid #f3a1a1;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, .3);
  display: table;
  overflow: hidden;

  -webkit-animation: show-main-panel 1s; /* Safari 4+ */
  -moz-animation:    show-main-panel 1s; /* Fx 5+ */
  -o-animation:      show-main-panel 1s; /* Opera 12+ */
  animation:         show-main-panel 1s; /* IE 10+, Fx 29+ */
}

.main-panel .my-face{
  margin: 20px;
  width: 100px;
  float: left;
  border-radius: 100%;
  overflow: hidden;
}

.main-panel .my-face img{
  width: 100px;
  float: left;
}

.main-panel .short-about-me{
  display: table-cell;
  vertical-align: middle;
  width: 65%;
  min-width: 260px;
  color: #909090;
}


.main-panel .short-about-me .name{
  font-size: 24px;
  text-transform: uppercase;
}

.default-text{
  font-weight: 300;
}

@-webkit-keyframes show-main-panel {
  0%   {
    opacity: 0;
    transform: rotate3d(1,0,0,90deg);
  }
  95% {
    border-left: 0px solid #f3a1a1;
  }
  100% {
    opacity: 1;
    transform: rotate3d(1,0,0,0deg);
    border-left: 5px solid #f3a1a1;
  }
}
@-moz-keyframes show-main-panel {
  0%   {
    opacity: 0;
    transform: rotate3d(1,0,0,90deg);
  }
  95% {
    border-left: 0px solid #f3a1a1;
  }
  100% {
    opacity: 1;
    transform: rotate3d(1,0,0,0deg);
    border-left: 5px solid #f3a1a1;
  }
}
@-o-keyframes show-main-panel {
  0%   {
    opacity: 0;
    transform: rotate3d(1,0,0,90deg);
  }
  95% {
    border-left: 0px solid #f3a1a1;
  }
  100% {
    opacity: 1;
    transform: rotate3d(1,0,0,0deg);
    border-left: 5px solid #f3a1a1;
  }
}
@keyframes show-main-panel {
  0%   {
    opacity: 0;
    transform: rotate3d(1,0,0,90deg);
  }
  95% {
    border-left: 0px solid #f3a1a1;
  }
  100% {
    opacity: 1;
    transform: rotate3d(1,0,0,0deg);
    border-left: 5px solid #f3a1a1;
  }
}
