<!DOCTYPE html>
<html>

  //= partials/head.html

  <body>
    <div class="main-panel">
      <div class="my-face">
        <img src="https://habrastorage.org/getpro/brainstorage/avatars/13/131/131564/w232h232_IMG_2016-02-18_23_54_07.jpg" alt="" />
      </div>
      <div class="short-about-me">
        <div class="name">
          Mark Frost
        </div>
        <div class="position default-text">
          Ruby on rails developer
        </div>
        <div class="email default-text">
          m.v.frost@yandex.ru
        </div>
      </div>
    </div>
  </body>
</html>
